/* Menu Item Component */

.menu-item {
  /* Layout */
  display: flex;
  align-items: center;

  /* Box model */
  padding: var(--pd-md) var(--pd-lg);
  gap: var(--pd-sm);

  /* Visual */
  color: var(--menu-item-color);

  /* Typography */
  font-size: var(--text-md);

  /* Other */
  cursor: pointer;
  outline: none;
  transition: background 0.15s;

  &:hover:not(.is-disabled),
  &.is-selected:not(.is-disabled) {
    /* Visual */
    background: var(--menu-item-bg-hover);
  }

  &.is-disabled {
    /* Visual */
    opacity: var(--opacity-disabled);

    /* Other */
    cursor: not-allowed;
  }
}

.menu-item-icon {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  /* Box model */
  width: calc(var(--size-xs) + var(--scale-1));
  height: calc(var(--size-xs) + var(--scale-1));

  /* Visual */
  color: var(--menu-item-color);

  svg {
    /* Box model */
    width: var(--scale-5);
    height: var(--scale-5);
  }
}

.menu-item-content {
  /* Layout */
  flex: 1;
  min-width: 0;
}

.menu-item-name {
  /* Box model */
  margin-bottom: var(--pd-xs);

  /* Typography */
  font-weight: bold;
}

.menu-item-desc {
  /* Typography */
  font-size: var(--text-sm);
  color: var(--search-result-desc-color);
}
