/* Menu Header Component */

.menu-header {
  /* Box model */
  padding: var(--pd-xs) var(--menu-item-padding);

  /* Typography */
  font-size: var(--text-xs);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--scale-1);
  color: var(--menu-header-color);
}
