/* Message Component Styles */

.message {
  /* Layout */
  position: fixed;
  top: var(--pd-sm);
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  text-align: center;

  /* Box model */
  max-width: var(--message-max-width);
  padding: var(--message-padding);
  border-radius: var(--message-radius);

  /* Visual */
  box-shadow: var(--message-shadow);
  opacity: 0;

  /* Typography */
  font-family: inherit;
  font-size: var(--message-font-size);

  /* Other */
  z-index: var(--message-z-index);
  pointer-events: none;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  &.is-visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  &.is-success {
    border: 1px solid var(--layout-message-success-border);
    background: var(--layout-message-success-bg);
    color: var(--layout-message-color);
  }

  &.is-error {
    border: 1px solid var(--layout-message-error-border);
    background: var(--layout-message-error-bg);
    color: var(--layout-message-color);
  }
}
