* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  background: var(--color-gray-10);
  color: var(--color-gray-130);
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
select {
  border: none;
  background: none;
}
